<header>SpaceX Launch Programs</header>
<div class="container">
  <div class="overlay" [hidden]="!loader">
    <div class="loader"></div>
  </div>
  
  <div class="body">
    <div class="filter">
      <h3>Filters</h3>
      <div align="center" class="filter-item-heading">
        <label>Launch Year</label>
      </div>
      <div class="filter-item-container" id="year">
        <div class="filter-item" (click)="filter($event,'year')">2006</div>
        <div class="filter-item" (click)="filter($event,'year')">2007</div>
        <div class="filter-item" (click)="filter($event,'year')">2008</div>
        <div class="filter-item" (click)="filter($event,'year')">2009</div>
        <div class="filter-item" (click)="filter($event,'year')">2010</div>
        <div class="filter-item" (click)="filter($event,'year')">2011</div>
        <div class="filter-item" (click)="filter($event,'year')">2012</div>
        <div class="filter-item" (click)="filter($event,'year')">2013</div>
        <div class="filter-item" (click)="filter($event,'year')">2014</div>
        <div class="filter-item" (click)="filter($event,'year')">2015</div>
        <div class="filter-item" (click)="filter($event,'year')">2016</div>
        <div class="filter-item" (click)="filter($event,'year')">2017</div>
        <div class="filter-item" (click)="filter($event,'year')">2018</div>
        <div class="filter-item" (click)="filter($event,'year')">2019</div>
        <div class="filter-item" (click)="filter($event,'year')">2020</div>
      </div>

      <div align="center" class="filter-item-heading">
        <label>Successful Launch</label>
      </div>
      <div class="filter-item-container" id="launch">
        <div class="filter-item" (click)="filter($event,'launch')">True</div>
        <div class="filter-item" (click)="filter($event,'launch')">False</div>
      </div>

      <div align="center" class="filter-item-heading">
        <label>Successful Landing</label>
      </div>
      <div class="filter-item-container" id="landing">
        <div class="filter-item" (click)="filter($event,'landing')">True</div>
        <div class="filter-item" (click)="filter($event,'landing')">False</div>
      </div>
    </div>

    <div class="items-container">
      <div class="item-container" *ngFor="let item of launchData">
        <div class="item-image">
          <img [src]="item.links.mission_patch_small?item.links.mission_patch_small:''">
        </div>
        <h3>{{item.mission_name}} #{{item.flight_number}}</h3>
        <div class="item-detail">
          <span class="item-detail-type">Mission Ids: </span>
          <ul *ngFor="let id of item.mission_id">
            <li class="item-detail-value">{{id}}</li>
          </ul>
        </div>
        <div class="item-detail">
          <span class="item-detail-type">Launch Year: </span>
          <span class="item-detail-value">{{item.launch_year}}</span>
        </div>
        <div class="item-detail">
          <span class="item-detail-type">Successful Launch: </span>
          <span class="item-detail-value">{{item.launch_success}}</span>
        </div>
        <div class="item-detail">
          <span class="item-detail-type">Successful Landing: </span>
          <span class="item-detail-value">{{item.rocket.first_stage.cores[0].land_success}}</span>
        </div>
      </div>
      <div class="item-container no-data" *ngIf="noData">
        <p>No Result Found!</p>
      </div>
    </div>
  </div>
</div>
<footer>
  <span>Developed by: </span>Hitesh Agarwal
</footer>